{% extends "base_factura.html" %}

{% block body %}
  {% load static %}

<div class="row"><!--La fila -->

  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda-->
      <h1>Factura</h1>
      <div class="card"><!--La tarjeta-->
        <div class="card-body">
          <form action="registrarFactura/" method="post" > {% csrf_token %} <!--Falta action-->
            <div class="form-group">
              <input type="text" id="txt_idfactura" name="txt_idfactura" placeholder="Id de la factura" class="form-control" minlength="1" maxlength="6" required>
            </div>
            <div class="form-group py-3">
              <input type="text" id="txt_idcliente" name="txt_idcliente" placeholder="Id del cliente" class="form-control"  maxlength="100" required>
            </div>
            <div class="form-group">
              <input type="text" id="num_idproducto" name="num_idproducto" placeholder="Id del producto" minlength="1" maxlength="30" class="form-control"  required>
            </div>

            <div class="form-group py-3">
              <input type="text" id="num_metodo" name="num_metodo" placeholder="Método de pago" minlength="0" maxlength="30" class="form-control"  required>
            </div>

            <div class="form-group ">
              <input type="text" id="num_total" name="num_total" placeholder="Total"  class="form-control"  required>
            </div>

            <div class="form-group py-3">
              <input type="text" id="txt_idtrabajador" name="txt_idtrabajador" placeholder="Id del trabajador" minlength="1" maxlength="300" class="form-control"  required>
            </div>

            <div class="form-group ">
              <input type="date" id="fecha" name="fecha" class="form-control"  required>
            </div>


            <div class="form-group py-3">
              <button type="submit" class="btn btn-primary">Guardar Producto</button>
            </div>


          </form>
        </div>
      </div> <!--La tarjeta-->
  </div><!--Columna izquierda-->

  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!--columna derecha -->
      <h1>Factura</h1>
      <img src="../../static/img/factura.jpg"  style="width: 300px;" alt="">

      <!-- La tabla  -->
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id </th>
              <th scope="col">Id de cliente </th>
              <th scope="col">Id del producto </th>
              <th scope="col">Método </th>
              <th scope="col">Total </th>
              <th scope="col">Id del trabajador </th>
              <th scope="col">Fecha </th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar </th>

              
            </tr>
          </thead>
          <tbody>
            
            {% for i in factura %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.id_factura}}</td>
              <td>{{i.id_cliente}}</td>
              <td>{{i.id_producto}}</td>
              <td>{{i.metodo_pago}}</td>
              <td>{{i.total}}</td>
              <td>{{i.id_trabajador}}</td>
              <td>{{i.fecha}}</td>
              <td><a href="seleccionarFactura/{{i.id_factura}}" class="btn btn-info">Editar</a></td> <!--Falta código-->
              <td><a href="borrarFactura/{{i.id_factura}}" class="btn btn-danger">Borrar</a></td>
              

            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      <!-- La tabla  -->

  </div><!--columna derecha -->
</div><!--La fila -->

{% endblock %}