{% extends "base_producto.html" %}


{% block body %}
{% load static %}
<div class="row"><!--La fila -->

  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda-->
      <h1>Producto</h1>
      <div class="card"><!--La tarjeta-->
        <div class="card-body">
          <form action="registrarProducto/" method="post" > {% csrf_token %} <!--Falta action-->
            <div class="form-group">
              <input type="text" id="txt_idproducto" name="txt_idproducto" placeholder="Id del producto" class="form-control" minlength="1" maxlength="6" required>
            </div>
            <div class="form-group py-3">
              <input type="text" id="txt_nombre" name="txt_nombre" placeholder="Nombre del Producto" class="form-control"  maxlength="100" required>
            </div>
            <div class="form-group">
              <input type="number" id="num_precio" name="num_precio" placeholder="Precio del producto" minlength="1" maxlength="30" class="form-control"  required>
            </div>

            <div class="form-group py-3">
              <input type="number" id="num_stock" name="num_stock" placeholder="Stock" minlength="0" maxlength="30" class="form-control"  required>
            </div>

            <div class="form-group ">
              <input type="text" id="txt_categoria" name="txt_categoria" placeholder="Categoría del producto"  class="form-control"  required>
            </div>

            <div class="form-group py-3">
              <input type="text" id="txt_desc" name="txt_desc" placeholder="Descripción del producto" minlength="1" maxlength="300" class="form-control"  required>
            </div>

            <div class="form-group ">
              <input type="date" id="fecha" name="fecha" class="form-control"  required>
            </div>


            <div class="form-group py-3">
              <button type="submit" class="btn btn-primary">Guardar Producto</button>
            </div>


          </form>
        </div>
      </div> <!--La tarjeta-->
  </div><!--Columna izquierda-->

  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!--columna derecha -->
      <h1>Productos</h1>
      <img src="../../static/img/images.jfif" alt="">
      <!-- La tabla  -->
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id </th>
              <th scope="col">Nombre </th>
              <th scope="col">Precio </th>
              <th scope="col">Stock </th>
              <th scope="col">Categoría </th>
              <th scope="col">Descripción </th>
              <th scope="col">Fecha </th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar </th>

              
            </tr>
          </thead>
          <tbody>
            
            {% for i in producto %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.id_producto}}</td>
              <td>{{i.nombre_producto}}</td>
              <td>{{i.precio}}</td>
              <td>{{i.stock}}</td>
              <td>{{i.categoria}}</td>
              <td>{{i.descripcion}}</td>
              <td>{{i.fecha}}</td>
              <td><a href="seleccionarProducto/{{i.id_producto}}" class="btn btn-info">Editar</a></td> <!--Falta código-->
              <td><a href="borrarProducto/{{i.id_producto}}" class="btn btn-danger">Borrar</a></td>
              

            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      <!-- La tabla  -->

  </div><!--columna derecha -->
</div><!--La fila -->

{% endblock %}