{% extends "base_trabajador.html" %}


  {% block body %}
  <div class="row"><!--La fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda-->
        <h1>Editar</h1>
        <div class="card"><!--La tarjeta-->
          <div class="card-body">
            <form action="/editarTrabajador/" method="post" > {% csrf_token %} <!--Falta action-->
              <div class="form-group">
                <input type="text" id="txt_idtrabajador" name="txt_idtrabajador" value="{{trabajador.id_trabajador}}" class="form-control" minlength="1" maxlength="6" required>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txt_nombre" name="txt_nombre" value="{{trabajador.nombre}}"class="form-control"  maxlength="100" required>
              </div>
              <div class="form-group">
                <input type="text" id="txt_apellido" name="txt_apellido" value="{{trabajador.apellido}}" minlength="1" maxlength="30" class="form-control"  required>
              </div>
  
              <div class="form-group py-3">
                <input type="text" id="txt_telefono" name="txt_telefono" value="{{trabajador.telefono}}" minlength="0" maxlength="30" class="form-control"  required>
              </div>
  
              <div class="form-group ">
                <input type="email" id="txt_gmail" name="txt_gmail" value="{{trabajador.gmail}}"  class="form-control"  required>
              </div>
  
              <div class="form-group py-3">
                <input type="text" id="txt_curp" name="txt_curp" value="{{trabajador.curp}}" minlength="1" maxlength="300" class="form-control"  required>
              </div>
  
              <div class="form-group ">
                <input type="text" id="txt_rfc" name="txt_rfc" class="form-control" value="{{trabajador.rfc}}"  required>
              </div>
  
  
              <div class="form-group py-3">
                <button type="submit" class="btn btn-primary">Guardar Producto</button>
              </div>
  
  
            </form>
          </div>
        </div> <!--La tarjeta-->
    </div><!--Columna izquierda-->

  </div>


    {% endblock %}
